@model WebApplication2.Models.calc
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    
        .center-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh; 
        }

       
        form {
            max-width: 300px; 
            width: 100%;
            padding: 20px;
            border: 3px solid #ddd;
            border-radius: 5px;
        }

        .form-group {
            text-align: center;
        }

        .btn-group {
            display: flex;
            justify-content: center;
        }

        .total-words {
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
        .total-wordsC {
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
        .total-wordsF {
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h2 class="text-center">SIMPLE CALCULATOR</h2>

    <div class="center-form">
        @using (Html.BeginForm("Index", "Calc", FormMethod.Post))
        {
            <div class="form-group text-center">
                <label for="num1">Enter the first number:</label>
                <input type="text" class="form-control" id="num1" name="num1" value="@Model.num1" />
            </div>
            <div class="form-group text-center">
                <label for="num2">Enter the second number:</label>
                <input type="text" class="form-control" id="num2" name="num2" value="@Model.num2" />
            </div>
            <div class="form-group text-center">
                <label for="tot">Total:</label>
                <input type="text" class="form-control" id="tot" name="tot" value="@Model.tot" />
            </div>

            <div class="btn-group">
                <button type="submit" class="btn btn-danger" id="add" value="add" name="calculate">+</button>
                <button type="submit" class="btn btn-warning" id="min" value="min" name="calculate">-</button>
                <button type="submit" class="btn btn-info" id="mul" value="mul" name="calculate">*</button>
                <button type="submit" class="btn btn-primary" id="div" value="div" name="calculate">/</button>
            </div>

  
            <div class="total-words">
                Total in English: @Model.totInWords
            </div>
            <div class="total-wordsC">
                Total in Chinese: @Model.totInWordsC
            </div>
            <div class="total-wordsF">
                Total in Tagalog: @Model.totInWordsF
            </div>
        }
    </div>
</body>
</html>
